@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #db4444 !important;
  --secondary-color: #000000 !important;
}
.primaryColor {
  background-color: var(--primary-color) !important;
}
.secondaryColor {
  background-color: var(--secondary-color) !important;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color) !important;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

* {
  font-family: "Poppins", sans-serif !important;
  user-select: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.scrollToTop {
  background-color: var(--primary-color) !important;
  border-radius: 50% !important;
}
.upArrow {
  color: white !important;
  font-size: 1.5rem !important;
  margin: auto !important;
}
.required {
  color: var(--primary-color) !important;
}

.slide-in {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.banner {
  margin-top: 3.7rem;
}
.IconImage {
  width: 100px;
}
.imgBgRemove {
  mix-blend-mode: color-burn !important;
}
.max-w-7xl {
  max-width: 85rem !important;
}
