/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background: rgb(255, 60, 60) !important; /* Blue scrollbar thumb */
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

* {
  font-family: "Inter", sans-serif;
  user-select: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.scrollToTop {
  background-color: rgb(255, 60, 60) !important;
  border-radius: 50% !important;
}
.upArrow {
  color: white !important;
  font-size: 1.5rem !important;
  margin: auto !important;
}
.required {
  color: red !important;
}

.slide-in {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.banner {
  margin-top: 3.7rem;
}
.IconImage {
  width: 100px;
}
.imgBgRemove {
  mix-blend-mode: color-burn !important;
}
.max-w-7xl {
  max-width: 85rem !important;
}
/* @media(max-width:371px){
  .buttons{
    font-size: 0.6rem !important;
    gap: 0px !important;
  }
} */