@tailwind base;
@tailwind components;
@tailwind utilities;
body, html {
  margin: 0 !important;
  padding: 0 !important;
}
footer {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
:root {
  --primary-color: #db4444 !important;
  --secondary-color: #000000 !important;
}
.primaryColor {
  background-color: var(--primary-color) !important;
}
.secondaryColor {
  background-color: var(--secondary-color) !important;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color) !important;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

* {
  font-family: "Poppins", sans-serif !important;
  user-select: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.scrollToTop {
  background-color: var(--primary-color) !important;
  border-radius: 50% !important;
}
.upArrow {
  color: white !important;
  margin: auto !important;
}
.required {
  color: var(--primary-color) !important;
}

.slide-in {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.banner {
  margin-top: 3.7rem;
}
.IconImage {
  width: 100px;
}
.imgBgRemove {
  mix-blend-mode: color-burn !important;
}
.max-w-7xl {
  max-width: 85rem !important;
}

.modal-content {
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}
.p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(4px);
}
body.p-overflow-hidden {
  overflow: visible !important;
  padding-right: 0 !important;
}
body[style*="position: fixed"] {
  overflow-y: scroll !important;
}

.custom-dialog .p-dialog-header {
  justify-content: center !important;
   padding-bottom: 0rem !important;
   align-items: center;
}
.p-sidebar .p-sidebar-header{
  padding: 0rem !important;
}

.light-theme-dialog .p-dialog-header {
  background-color: #ffffff !important;
  color: #111827 !important; 
}

.dark-theme-dialog .p-dialog-header {
  background-color: #1f2937 !important; 
  color: #ffffff !important;
}

.dark-theme-dialog .p-dialog-content {
  background-color: #1f2937 !important;
  color: #ffffff !important;
}

.containerTheme{
  width: 42px;
  height: 24px;
  border: 1.5px solid #ff8585;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.iconTheme{
  font-size: 12px;
}

.ball{
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
}